html
  head
    title My Express App
    link(rel='stylesheet', href='../css/styles.css')
    
  body
    div.title-book-background.padding20px
      h1.title-book-color.title-book-center QUEST BOOK
        div.div-flex
 
      div.container.div-flex
        button#prevBtn 
          img(src="../images/caret-back-outline.svg" alt="My SVG Image" width="50" height="50")
        button#prevBtn2
          img(src="../images/caret-back-outline.svg" alt="My SVG Image" width="50" height="50")
        div#div1.active 8M gold
        div#div2.active 1844 rubies
        div#div3.active 18405 wood
        div#div4 15038 stone
        div#div5 679k food
        div#div6 40344 coal
        div#div7 65905 glass
        button#nextBtn
          img(src="../images/caret-forward-outline.svg" alt="My SVG Image" width="50" height="50")
        button#nextBtn2 
          img(src="../images/caret-forward-outline.svg" alt="My SVG Image" width="50" height="50")
    img(src="../images/quest-img.png" width="100%")

    script(src='../js/main.js')
